<body>
	<div class="changePP">
		<div id="titleChangePP">Change Picture</div>
		<div id="contentChangePP">
			<form method="POST" action="{{route('profilUser')}}">
				<input type="file" value="{{apa.apa}}" class="fileChangePP"><br />
				<input type="submit" value="Change" class="submitChangePP">
			</form>
		</div>
	</div>
</body>