<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="{{asset('css/style.css')}}">
	<link href='https://fonts.googleapis.com/css?family=Handlee' rel='stylesheet' type='text/css'>
</head>
<body>
	<div class="out-listket_toko">
		<div class="listket-toko">
			<div class="listnamanya">Nama Barang</div>
			<div class="listnamanya">Harga</div>
			<div class="listnamanya">Jenis Barang</div>
			<div class="listnamanya">Keterangan</div>
		</div>
		<div class="ttkdua">
			<div class="ttkdua2">:</div>
			<div class="ttkdua2">:</div>
			<div class="ttkdua2">:</div>
			<div class="ttkdua2">:</div>
		</div>
		<div class="listket-toko2"></div>
	</div>
</body>
</html>