<!DOCTYPE html>
<html>
<head>
	<title>Sign in</title>
	<link rel="shortcut icon" href="{{asset('images/favicon.ico')}}">
	<link rel="stylesheet" type="text/css" href="{{asset('css/style.css')}}">
	<link href='https://fonts.googleapis.com/css?family=Handlee' rel='stylesheet' type='text/css'>
</head>
<body>
	<div id="wrapper">
		<div class="out-login">
			<div id="log-in">
				<form action="{{route('memprosesSignIn')}}" method="POST">
					<input type="hidden" name="_token" value="{{ csrf_token() }}">
					<input type="email" name="email" placeholder="Email" class="login-email">
					<input type="password" name="password" placeholder="Password" class="login-password">
					<input type="checkbox" name="remember" class="remember"> Remember Me
					<input type="submit" name="save" value="Masuk" class="masuk">
				</form>
			</div>
		</div>
	</div>
</body>
</html>