{% extends 'layout' %}
{% block isi %}
		<div id="bar">
			<div class="search">
				<form>
					<input type="text" name="input-search" placeholder="Search" class="text"></input>
					<input type="submit" name="search" value="" class="submit"></input>
				</form>
			</div>
			<div class="_breadcrumb">
				<!-- another version - flat style with animated hover effect -->
				<div class="breadcrumb flat">
					<a href="{{route('homeUser')}}">Home</a>
					<a href="{{route('tokoUser')}}">Toko</a>
					<a href="#" class="active">Pakaian</a>
				</div>
			</div>
		</div>
		<div id="wrapper">
			<div class="out-toko">
				<div class="pakai">
					<div id="baju">
						<div class="photoToko"></div>
						<div class="ketToko">
							<div id="butonmore">
								<button type="button" class="btn btn-success" data-toggle="collapse" data-target="#demo">
							    	Open
							    </button>
							</div>
						    <div id="more"> < Lihat Produknya Ukhti...</div>
						</div>
					</div>
					<div id="ketProduk">
						<div id="demo" class="collapse">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit,
							sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						</div>
					</div>
					<div id="baju">
						<div class="photoToko"></div>
						<div class="ketToko">
							<div id="butonmore">
								<button type="button" class="btn btn-success" data-toggle="collapse" data-target="#aa">
							    	Open
							    </button>
							</div>
						    <div id="more"> < Lihat Produknya Ukhti...</div>
						</div>
					</div>
					<div id="ketProduk">
						<div id="aa" class="collapse">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit,
							sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						</div>
					</div>
				</div>
			</div>
		</div>
{% endblock %}