<!DOCTYPE html>
<html>
<head>
	<title>Pesan</title>
	<link rel="stylesheet" type="text/css" href="{{asset('css/style.css')}}">
</head>
<body>
	<div class="all-wrapper">
		<div class="log">
			<a href="/"><div id="logo">Ukhti</div></a>
			<div id="log">
				<ul>
					<li><a href="{{route('aboutUser')}}">About</a></li>
					<li><a href="{{route('signUpUser')}}">Sign Up</a></li>
					<li><a href="{{route('signInUser')}}">Sign In</a></li>
				</ul>
			</div>
		</div>
		<div id="wrapper">
			<div class="out-pesan">
				<div class="out-pesan1">
					<div class="photo-pesan"></div>
					<div class="isi-pesan"></div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>