<!DOCTYPE html>
<html>
<head>
	<title>Insert Toko</title>
	<link rel="shortcut icon" href="{{asset('images/favicon.ico')}}">
	<link rel="stylesheet" type="text/css" href="{{asset('css/style.css')}}">
	<link href='https://fonts.googleapis.com/css?family=Handlee' rel='stylesheet' type='text/css'>
</head>
<body>
	<div class="all-wrapper">
		{% include 'userLog' %}
	    <div id="wrapper">
	    	<form enctype="multipart/form-data" method="POST" action="{{route('prosesToko')}}">
	    		<input type="hidden" name="_token" value="{{ csrf_token() }}">
	    		<input type="text" name="Judul" placeholder="Judul" class="insertToko" maxlength="40">
				<input type="file" name="photoToko" value="Browse" class="brows-toko">
	    		<input type="number" name="harga" placeholder="Harga" class="insertToko" max="9999999999999999" min="0">
	    		<select name="jb" class="insertToko">
	    			<option>Jenis Barang</option>
	    			<option value="Pakaian">	Pakaian		</option>
	    			<option value="Kerudung">	Kerudung	</option>
	    			<option value="Aksesoris">	Aksesoris	</option>
	    			<option value="Makanan">	Makanan		</option>
	    			<option value="Tas">		Tas 		</option>
	    			<option value="Sepatu">		Sepatu		</option>
	    			<option value="Lainnya">	Lainnya		</option>
	    		</select>
		    	<div class="insert-ket-toko">Keterangan Barang:</div>
		    	<textarea class="text-area" name="ketToko" maxlength="175"></textarea>
				<input type="submit" name="publish" value="Publish" class="push">
	    	</form>
	    </div>
	</div>
</div>
</body>
</html>