{% extends "layout" %}
{% block isi %}
		<div id="bar">
			<div class="search">
				<form>
					<input type="text" name="input-search" placeholder="Search" class="text"></input>
					<input type="submit" name="search" value="" class="submit"></input>
				</form>
			</div>
			<div class="_breadcrumb">
				<!-- another version - flat style with animated hover effect -->
				<div class="breadcrumb flat">
					<a href="ukhti">Home</a>
					<a href="#" class="active">About</a>
				</div>
			</div>
		</div>
		<div id="wrapper">
			<div class="potoket">
				<div id="potoweb"></div>
				<div id="keterangan">
					halloo nama saya adhia shania rinahalloo nama saya adhia shania rinahalloo nama saya adhia shania rinahalloo nama saya adhia shania rinahalloo nama saya adhia shania rinahalloo nama saya adhia shania rinahalloo nama saya adhia shania rinahalloo nama saya adhia shania rinahalloo nama saya adhia shania rinahalloo nama saya adhia shania rinahalloo nama saya adhia shania rina
	            </div>
			</div>
			<div class="fotoprofil">
				<div id="fp">
					<div id="fotoadmin"></div>
					<div id="ketadmin">
						Assalamu'alaium Ukhti. Nama Saya Ardhia Marliana, lahir di Bandung 04 Maret 1999.
					</div>
				</div>
				<div id="fp">
					<div id="fotoadmin"></div>
					<div id="ketadmin">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	                </div>
				</div>
				<div id="fp1">
					<div id="fotoadmin"></div>
					<div id="ketadmin">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	                </div>
				</div>
			</div>
		</div>
		<div id="bar">
			<div class="search">
				<form>
					<input type="text" name="input-search" placeholder="Search" class="text"></input>
					<input type="submit" name="search" value="" class="submit"></input>
				</form>
			</div>
			<div class="_breadcrumb">
				<!-- another version - flat style with animated hover effect -->
				<div class="breadcrumb flat">
					<a href="index.php">Home</a>
					<a href="#" class="active">About</a>
				</div>
			</div>
		</div>
		<div id="wrapper">
			<div class="potoket">
				<div id="potoweb"></div>
				<div id="keterangan">
					halloo nama saya adhia shania rinahalloo nama saya adhia shania rinahalloo nama saya adhia shania rinahalloo nama saya adhia shania rinahalloo nama saya adhia shania rinahalloo nama saya adhia shania rinahalloo nama saya adhia shania rinahalloo nama saya adhia shania rinahalloo nama saya adhia shania rinahalloo nama saya adhia shania rinahalloo nama saya adhia shania rina
	            </div>
			</div>
			<div class="fotoprofil">
				<div id="fp">
					<div id="fotoadmin"></div>
					<div id="ketadmin">
						Assalamu'alaium Ukhti. Nama Saya Ardhia Marliana, lahir di Bandung 04 Maret 1999.
					</div>
				</div>
				<div id="fp">
					<div id="fotoadmin"></div>
					<div id="ketadmin">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	                </div>
				</div>
				<div id="fp1">
					<div id="fotoadmin"></div>
					<div id="ketadmin">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	                </div>
				</div>
			</div>
		</div>
{% endblock %}