{% extends "layout" %}
{% block isi %}
		<div id="bar">
			<div class="search">
				<form>
					<input type="text" name="input-search" placeholder="Search" class="text"></input>
					<input type="submit" name="search" value="" class="submit"></input>
				</form>
			</div>
			<div class="_breadcrumb">
				<!-- another version - flat style with animated hover effect -->
				<div class="breadcrumb flat">
					<a href="{{route('/')}}">Home</a>
					<a href="#" class="active">About</a>
				</div>
			</div>
		</div>
		<div id="wrapper">
			<div class="potoket">
				<div id="potoweb"></div>
				<div id="keterangan">Assalamu'alaikum warahmatullahi wabarakatuh.</div>
				<div id="keterangan"> 
					Website Ukhti merupakan website yang akan memberikan informasi mulai dari artikel, tutorial dan hadits-hadits shahih seputar kehidupan muslimah. Website Ukhti sendiri didirikan pada tanggal 19 Februari 2016. Tujuan dibuatnya website ini adalah untuk berbagi berbagai informasi dan juga tips yang Insya Allah bermanfaat.
	            </div>
	            <div id="keterangan">
	            	Kami pun memberikan layanan bagi siapa saja yang ingin menjadi member atau partner untuk berkontribusi dalam menulis artikel dan tutorial serta berjualan di website kami, dengan melakukan pendaftaran terlebih dahulu yang berada kanan atas atau<ul><li><a href="#signUp" data-toggle="modal">klik ini</a></li></ul>
	            </div>
	             <div id="keterangan">
	             	Bagi kalian yang masih merasa bingung mengenai kelebihan apa saja yang diberikan bagi member atau partner kami bisa dilihat di bawah terdapat panel bantuan.
	            </div>
	            <div id="keterangan">
	            	Semoga usaha belajar kita bersama dalam mempelajari Islam mendapatkan ridho dari Alloh Subhanahu Wa Ta'ala Aaamiiinn
	            </div>
	            <div id="keterangan">Wassalamu'alaikum warahmatullahi wabarakatuh</div>
			</div>
			<div class="bantuan">
				<div id="juban"></div>
				<div class="bantu">
					<div id="bant">
						<div class="arti"></div>
					</div>
					<div id="bant">
						<div class="toko"></div>
					</div>
					<div id="bant">
						<div class="tutor"></div>
					</div>
					<div id="bant">
						<div class="sign"></div>
					</div>
				</div>
			</div>
		</div>
{% endblock %}