<!DOCTYPE html>
<html>
<head>
	<title>Admin</title>
	<link rel="stylesheet" type="text/css" href="{{asset('css/style.css')}}">
	<link href='https://fonts.googleapis.com/css?family=Handlee' rel='stylesheet' type='text/css'>
</head>
<body>
	<div id="wrapper">
		<div class="out-admin">
			<div id="boxatas">
				<ul>
					<li><a href="postingan.php">Postingan</a></li>
					<li><a href="user.php">User</a></li>
					<li><a href="pengunjung.php">Pengunjung</a></li>
				</ul>
			</div>
			<div id="boxbawah"></div>
		</div>
	</div>
</body>
</html>