{% extends 'layout' %}
{% block isi %}
		<div id="bar">
			<div class="search">
				<form>
					<input type="text" name="input-search" placeholder="Search" class="text"></input>
					<input type="submit" name="search" value="" class="submit"></input>
				</form>
			</div>
			<div class="_breadcrumb">
				<!-- another version - flat style with animated hover effect -->
				<div class="breadcrumb flat">
					<a href="ukhti">Home</a>
					<a href="toko">Toko</a>
					<a href="#" class="active">Aksesoris</a>
				</div>
			</div>
		</div>
		<div id="wrapper">
			<div class="out-toko">
				<div class="pakai">
					<div id="baju"></div>
					<div id="baju"></div>
					<div id="baju"></div>
					<div id="baju1"></div>
				</div>
				<div class="pakai">
					<div id="baju"></div>
					<div id="baju"></div>
					<div id="baju"></div>
					<div id="baju1"></div>
				</div>
				<div class="pakai">
					<div id="baju"></div>
					<div id="baju"></div>
					<div id="baju"></div>
					<div id="baju1"></div>
				</div>
			</div>
		</div>
{% endblock %}