{% extends 'layout' %}
{% block isi %}
	<div class="out-toko">
		<div class="pakai">
			<div id="baju"></div>
			<div id="baju"></div>
			<div id="baju"></div>
			<div id="baju1"></div>
		</div>
		<div class="pakai">
			<div id="baju"></div>
			<div id="baju"></div>
			<div id="baju"></div>
			<div id="baju1"></div>
		</div>
		<div class="pakai">
			<div id="baju"></div>
			<div id="baju"></div>
			<div id="baju"></div>
			<div id="baju1"></div>
		</div>
	</div>
{% endblock %}