{% extends 'layout' %}
{% block isi %}
		<div id="bar">
			<div class="search">
				<form>
					<input type="text" name="input-search" placeholder="Search" class="text"></input>
					<input type="submit" name="search" value="" class="submit"></input>
				</form>
			</div>
			<div class="_breadcrumb">
				<!-- another version - flat style with animated hover effect -->
				<div class="breadcrumb flat">
					<a href="{{route('/')}}">Home</a>
					<a href="#" class="active">Hadits</a>
				</div>
			</div>
		</div>
		<div id="wrapper">
			<div class="wrap">
				<div class="content">
					{% for isi in hadits %}
						<div id="artikel">
							<div class="judul-artikel">
							{{isi.Sumber_HR}}
							</div>
							<div class="out-artikel">
							{{isi.Isi_Hadits}}
							</div>
						</div>
					{% endfor %}
					<div class="paginate">
						{{ hadits.render()|raw }}
					</div>
				</div>
				<div class="rightKet">
					<div id="arsip">
						<div class="judul">Ke)terangan</div>
						<div class="isi-ket"> 
							Assalamualaikum Ukhti ^^ Laman ini berisi hadits shahih tentang wanita. Semoga bermanfaat^^
						</div>
					</div>
					<div id="arsip">
						<div class="judul">Arsip</div>
						<div class="isi-arsip">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						</div>
					</div>
				</div>
			</div>
		</div>
{% endblock %}