{% extends 'layout' %}
{% block isi %}
	<div id="bar">
		<div class="search">
			<form>
				<input type="text" name="input-search" placeholder="Search" class="text"></input>
				<input type="submit" name="search" value="" class="submit"></input>
			</form>
		</div>
		<div class="_breadcrumb">
			<!-- another version - flat style with animated hover effect -->
			<div class="breadcrumb flat">
				<a href="{{route('/')}}">Home</a>
				<a href="{{route('about')}}">About</a>
				<a href="#">Bantuan Toko</a>
			</div> 
		</div>
	</div>
	<div id="wrapper">
		<div class="potoket">
    		<div class="phototo"></div>
    		<div id="keterangan"> <h3>Membuat Postingan Toko di Website Ukhti</h3> </div>
    		<div id="keterangan">
    			<p>1. Setelah anda berhasil Sign In di website Ukhti, anda akan langsung menuju laman profil anda.</p>
    			<p>2. Di sebelah kanan foto profil anda terdapat navigasi.</p>
    			<p>3. Klik tombol 'Toko'. Disana terdapat tabel untuk daftar postingan toko anda.</p>
    			<p>4. Di sebelah atas tabel daftar postingan, terdapat tombol 'Create'.</p>
    			<p>5. Klik tombol tersebut anda akan menuju laman untuk mengisi barang yang akan anda jual.</p>
    		</div>
    		<div id="keterangan"> <h3>Peraturan Berjualan di Website Ukhti</h3> </div>
    		<div id="keterangan">
    			<p>1. Dilarang memperjualbelikan sesuatu yang haram serta dilarang oleh negara (misal : Narkoba, minuman keras, dll).</p>
    			<p>2. Ketika akan memberikan keterangan pada barang yang akan dijual, harus jelas. Jangan setengah-setengah.</p>
    			<p>3. Sertakan nomor telepon yang bisa dihubungi untuk mempermudah dalam proses jual beli</p>
    		</div>
    	</div>
	</div>
    
{% endblock %}