{% extends 'layout' %}
{% block isi %}
    <div id="bar">
    	<div class="search">
    		<form>
    			<input type="text" name="input-serach" placeholder="Search" class="text"></input>
    			<input type="submit" name="search" value="" class="submit"></input>
    		</form>
    	</div>
    	<div class="_breadcrumb">
    		<!-- another version - flat style with animated hover effect -->
    		<div class="breadcrumb flat">
    			<a href="{{route('/')}}">Home</a>
    			<a href="{{route('about')}}">About</a>
    			<a href="#">Bantuan Tutorial</a>
    		</div>
    	</div>
    </div>
    <div id="wrapper">
    	<div class="potoket">
    		<div class="phototu"></div>
    		<div class="bungket">
    			<div id="keterangan">
    				<h3>Membuat Postingan Tutorial</h3>
    			</div>
    			<div id="keterangan">
    				1. Setelah anda berhasil masuk di website Ukhti, anda akan langsung menuju laman profil anda
    			</div>
    			<div id="pict"></div>
    			<div id="keterangan">
    				2. Di sebelah kanan foto profil anda terdapat navigasi
    			</div>
    			<div id="pict"></div>
    			<div id="keterangan">
    				3. Klik tombol 'Tutorial'. Disana terdapat table untuk daftar postingan tutorial anda
    			</div>
    			<div id="pict"></div>
    			<div id="keterangan">
    				4. Di sebelah atas tabel daftar postingan, terdapat tombol 'Create'
    			</div>
    			<div id="pict"></div>
    			<div id="keterangan">
    				5. Klik tombol tersebut anda akan menuju laman untuk mengisi postingan tutorial anda
    			</div>
    			<div id="pict"></div>
    			<div class="beware">
    				<center>Perhatian : Postingan yang anda tulis tidak boleh mengandung SARA (menjelekkan Suku, Agama, Ras & Antar golongan) unsur pornografi serta dilarang <strong>'Copy' 'Paste'</strong> tanpa menyertakan sumber postingan yang anda ambil</center>
    			</div>
    		</div>
    	</div>
    </div>
{% endblock %}