{% extends 'layout' %}
{% block isi %}
    <div id="bar">
    	<div class="search">
    		<form>
    			<input type="text" name="input-search" placeholder="Search" class="text"></input>
    			<input type="submit" name="search" value="" class="submit"></input>
    		</form>
    	</div>
    	<div class="_breadcrumb">
    		<!-- another version - flat style with animated hover effect -->
    		<div class="breadcrumb flat">
    			<a href="{{route('/')}}">Home</a>
    			<a href="{{route('about')}}">About</a>
    			<a href="#">Bantuan Sign Up</a>
    		</div>
    	</div>
    </div>
    <div id="wrapper">
    	<div class="potoket">
    		<div class="photosign"></div>
    		<div class="bungket">
    			<div id="keterangan"> <h3>Mendaftar untuk menjadi member di Website Ukhti</h3> </div>
    			<div id="keterangan">
    				1. Buka halaman website Ukhti.
    			</div>
    			<div id="pict"></div>
    			<div id="keterangan">
    				2. Lihat 'Sign Up' yang berada di kanan atas.
    			</div>
    			<div id="pict"></div>
    			<div id="keterangan">
    				3. Klik 'Sign Up', akan muncul form pendaftaran.
    			</div>
    			<div id="pict"></div>
    			<div id="keterangan">
    				4. Masukkan Nama lengkap, dan lain sebagainya sesuai instruksi yang tertera pada laman tersebut.
    			</div>
    			<div id="pict"></div>
    			<div id="keterangan">
    				5. Jika sudah selesai, klik 'Daftar'.
    			</div>
    			<div id="pict"></div>
    			<div id="keterangan">
    				6. Selamat! Anda telah resmi menjadi member kami.
    			</div>
    			<div class="beware">
    				<center>Perhatian : Data yang anda masukkan harus sesuai dengan fakta yang sebenarnya. Jangan melakukan pemalsuan terhadap diri anda.</center>
    			</div>
    			<div class="beware">
    				<center>Catatan : Untuk menjadi partner kami bisa dengan menghubungi nomor kontak admin kami yang berada di bawah (lihat dan arahkan kursor ke ikon telepon rumah)</center>
    			</div>
    		</div>
    	</div>
    </div>
{% endblock %}