{% extends 'layout' %}
{% block isi %}
		<div id="bar">
			<div class="search">
				<form>
					<input type="text" name="input-search" placeholder="Search" class="text"></input>
					<input type="submit" name="search" value="" class="submit"></input>
				</form>
			</div>
			<div class="_breadcrumb">
				<!-- another version - flat style with animated hover effect -->
				<div class="breadcrumb flat">
					<a href="ukhti">Home</a>
					<a href="tutorial">Tutorial</a>
					<a href="#" class="active">Judul Tutorial</a>
				</div>
			</div>
		</div>
		<div id="wrapper">
			<div class="wrap">
				<div class="content">
					<div id="tulis">
						<div class="tanggal">02 februari 2016</div>
						<div class="title">Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
					</div>
					<div id="out-tulisan">
						<div class="foto1"></div>
						<div class="tulisan">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
					</div>
					<div id="tampil-komentar"></div>
					<div id="comment">
						<form>
							<input type="text" name="nama" placeholder="Masukan Nama Anda" class="nama-komentar"></input>
							<input type="text" name="komentar" class="isi-komentar"></input>
							<input type="submit" name="kirim" class="kirim"></input>
						</form>
					</div>
				</div>
				<div class="rightKet">
					<div id="arsip">
						<div class="judul">Arsip</div>
						<div class="isi-arsip">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						</div>
					</div>
				</div>
			</div>
		</div>
{% endblock %}