{% extends 'layoutToko' %}
{% block titleToko %}
    Kerudung
{% endblock %}
{% block isi %}
	<div id="bar">
		<div class="search">
			<form>
				<input type="text" name="input-search" placeholder="Search" class="text"></input>
				<input type="submit" name="search" value="" class="submit"></input>
			</form>
		</div>
		<div class="_breadcrumb">
			<!-- another version - flat style with animated hover effect -->
			<div class="breadcrumb flat">
				<a href="{{route('/')}}">Home</a>
				<a href="{{route('toko')}}">Toko</a>
				<a href="#" class="active">Kerudung</a>
			</div>
		</div>
	</div>
	{% include 'contentToko' %}
{% endblock %}