<div id="tampil-komentar"></div>
<div id="comment">
	<form action="{{route('komentarTutorial', {No: table.no_tutorial})}}" method="POST">
	   <input type="hidden" name="_token" value="{{ csrf_token() }}">
		<input type="text" name="nama" placeholder="Masukan Nama Anda" class="nama-komentar"></input>
		<input type="text" name="isi_komentar" class="isi-komentar"></input>
		<input type="submit" name="kirim" class="kirim"></input>
	</form>
</div>