<div id="comment">
	<div class="judul_komentar">Komentar</div>
	<div id="tampil-komentar">
	    {% for komen in komentar_artikel %}
			<div class="bungkus_komentar">
			    <div class="nama_komentar">{{komen.nama}}:</div>
			    <div class="isi_komentar">{{komen.isi_komentar}}</div>
			    <div class="tgl_komentar"></div>
			</div>
	    {% endfor %}
	</div>
	<div class="comment2">
		<form enctype="multipart/form-data" action="{{route('prosesKomentarArtikel', {No: No})}}" method="POST">
			<input type="hidden" name="_token" value="{{ csrf_token() }}">
			<input type="hidden" name="status" value="false">
			<input type="hidden" name="verb" value="Mengomentari Artikel yang Anda buat">
			<input type="text" maxlength="10" name="nama" placeholder="Masukan Nama Anda" class="nama-komentar">
			<textarea class="isi-komentar" maxlength="50" placeholder="Komentar" name="isi_komentar"></textarea>
			<input type="submit" name="kirim" value="Kirim" class="kirim">
		</form>
	</div>
</div>