{% extends 'layout' %}
{% block isi %}
		<div id="bar">
			<div class="search">
				<form>
					<input type="text" name="input-search" placeholder="Search" class="text"></input>
					<input type="submit" name="search" value="" class="submit"></input>
				</form>
			</div>
			<div class="_breadcrumb">
				<!-- another version - flat style with animated hover effect -->
				<div class="breadcrumb flat">
					<a href="{{route('/')}}">Home</a>
					<a href="{{route('toko')}}">Toko</a>
					<a href="#" class="active">Makanan</a>
				</div>
			</div>
		</div>
		<div id="wrapper">
			<div class="out-toko">
				<div class="pakai">
					{% for photo in toko %}
						<div id="baju"><img src="/uploadPhoto/toko/{{photo.photoToko}}" width="100%" height="100%" /></div>
					{% endfor %}
					</div>
			</div>
		</div>
{% endblock %}