<!DOCTYPE html>
<html>
<head>
	<title>Konfirmasi</title>
    <link rel="stylesheet" type="text/css" href="{{asset('css/style.css')}}">
    <link rel="shortcut icon" href="{{asset('images/favicon.ico')}}">
    <link href='https://fonts.googleapis.com/css?family=Handlee' rel='stylesheet' type='text/css'>
</head>
<body>
	<div id="wrapper">
		<div class="out-confirm">
			<div class="title-confirm">Assalamu'alaikum ukhti</div>
			<div class="title-confirm1">Konfirmasi untuk akun email anda</div>
			<input type="submit" value="Konfirmasi Email" class="masuk-confirm"></input>
		</div>
	</div>
</body>
</html>