<!DOCTYPE html>
<html>
<head>
	<title>Sign in</title>
	<link rel="stylesheet" type="text/css" href="{{asset('css/style.css')}}">
	<link href='https://fonts.googleapis.com/css?family=Handlee' rel='stylesheet' type='text/css'>
</head>
<body>
	<div id="wrapper">
		<div class="out-login">
			<div id="log-in">
				<form action="/" method="POST">
					<input type="text" name="input-login" placeholder="Email" class="login-email"></input>
					<input type="password" name="input-login" placeholder="Password" class="login-password"></inpu>
					<input type="submit" name="masuk" value="Masuk" class="masuk"></input>
				</form>
			</div>
		</div>
	</div>
</body>
</html>