{% extends 'layoutToko' %}
{% block titleToko %}
    Tas
{% endblock %}
{% block isi %}
	<div id="bar">
		<div class="search">
			<form method="get" action="{{url('/toko/tas/searchtas')}}">
				<input type="text" name="keywords" placeholder="Search" class="text"></input>
				<input type="submit" value="" class="submit"></input>
			</form>
		</div>
		<div class="_breadcrumb">
			<!-- another version - flat style with animated hover effect -->
			<div class="breadcrumb flat">
				<a href="{{route('/')}}">Home</a>
				<a href="{{route('toko')}}">Toko</a>
				<a href="#" class="active">Tas</a>
			</div>
		</div>
	</div>
	{% include 'contentToko' %}
{% endblock %}