{% extends 'layout' %}
{% block isi %}
    <div id="bar">
    	<div class="search">
    		<form>
    			<input type="text" name="input-search" placeholder="Search" class="text1"></input>
    			<select name="kategori" class="text2">
    				<option>Katagori</option>
    				<option value="Pakaian">Pakaian</option>
    				<option value="Kerudung">Kerudung</option>
    				<option value="Aksesoris">Aksesoris</option>
    				<option value="Makanan">Makanan</option>
    				<option value="Tas">Tas</option>
    				<option value="Sepatu">Sepatu</option>
    				<option value="dll">Lainnya</option>
    			</select>
    			<input type="submit" name="search" value="" class="submit"></input>
    		</form>
    	</div>
    	<div class="_breadcrumb">
    		<!-- another version - flat style with animated hover effect -->
    		<div class="breadcrumb flat">
    			<a href="/">Home</a>
    			<a href="#" class="active">Toko</a>
    		</div>
    	</div>
    </div>
    <div id="wrapper">
    	<a href="/toko/pakaian"><div class="pakaian"></div></a>
    	<div class="box">
    		<a href="/toko/kerudung"><div id="kerudung"></div></a>
    		<div id="box1">
    			<a href="/toko/aksesoris"><div class="aksesoris"></div></a>
    			<a href="/toko/makanan"><div class="makanan"></div></a>
    		</div>
    	</div>
    	<div class="box">
    		<div id="box2">
    			<a href="/toko/tas"><div class="tas"></div></a>
    			<a href="/toko/dll"><div class="dll"></div></a>
    		</div>
    		<a href="/toko/sepatu"><div id="sepatu"></div></a>
    	</div>
	</div>	
{% endblock %}