{% extends 'layout' %}
{% block title %}
    Ukhti
{% endblock %}
{% block isi %}
		<div id="bar">
			<div class="search">
				<form>
					<input type="text" name="input-search" placeholder="Search" class="text"></input>
					<input type="submit" name="search" value="" class="submit"></input>
				</form>
			</div>
			<div class="_breadcrumb">
				<!-- another version - flat style with animated hover effect -->
				<div class="breadcrumb flat">
					<a href="#" class="active">Home</a>
				</div>
			</div>
		</div>
		<div id="wrapper">
			<div class="wrap">
				<div class="content">
					<div id="js">
						<div class="slider-wrapper theme-default">
							<div id="slider" class="nivoSlider">
								{% for item in artikel %}
									<a href="{{route('artikel.isi-artikel', {No: item.No})}}"><img src="/uploadPhoto/artikel/{{item.Photo}}" width="100%" height="100%"></a>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
				<div class="rightKet">
					<div id="arsip">
						<div class="judul">Arsip</div>
						<div class="isi-arsip">
						        <ul>
						            <li>
						  				<a href="#arsip2016">2016</a>
						  				<ul class="sidebar">
										    <li><a href="#januari">Januari</a></li>
										    <li><a href="#febuari">Febuari</a></li>
										    <li><a href="#maret">Maret</a></li>
										    <li><a href="#apri">Apri</a></li>
										    <li><a href="#mei">Mei</a></li>
										    <li><a href="#juni">Juni</a></li>
										    <li><a href="#juli">Juli</a></li>
										    <li><a href="#agustus">Agustus</a></li>
										    <li><a href="#september">September</a></li>
										    <li><a href="#oktober">Oktober</a></li>
										    <li><a href="#november">November</a></li>
										    <li><a href="#desember">Desember</a></li>
										  </ul>
									</li>
						            <li>
						  				<a href="#arsip2015">2015</a>
						  				<ul class="sidebar">
										    <li><a href="#januari">Januari</a></li>
										    <li><a href="#febuari">Febuari</a></li>
										    <li><a href="#maret">Maret</a></li>
										    <li><a href="#apri">Apri</a></li>
										    <li><a href="#mei">Mei</a></li>
										    <li><a href="#juni">Juni</a></li>
										    <li><a href="#juli">Juli</a></li>
										    <li><a href="#agustus">Agustus</a></li>
										    <li><a href="#september">September</a></li>
										    <li><a href="#oktober">Oktober</a></li>
										    <li><a href="#november">November</a></li>
										    <li><a href="#desember">Desember</a></li>
										  </ul>
									</li>
						            <li>
						  				<a href="#arsip2014">2014</a>
						  				<ul class="sidebar">
										    <li><a href="#januari">Januari</a></li>
										    <li><a href="#febuari">Febuari</a></li>
										    <li><a href="#maret">Maret</a></li>
										    <li><a href="#apri">Apri</a></li>
										    <li><a href="#mei">Mei</a></li>
										    <li><a href="#juni">Juni</a></li>
										    <li><a href="#juli">Juli</a></li>
										    <li><a href="#agustus">Agustus</a></li>
										    <li><a href="#september">September</a></li>
										    <li><a href="#oktober">Oktober</a></li>
										    <li><a href="#november">November</a></li>
										    <li><a href="#desember">Desember</a></li>
										  </ul>
									</li>
						        </ul>
						    </nav>
						</div>
					</div>
				</div>
			</div>
		</div>
{% endblock %}