<!DOCTYPE html>
<html>
<head>
	<title>Insert Toko</title>
	<link rel="stylesheet" type="text/css" href="{{asset('css/style.css')}}">
	<link href='https://fonts.googleapis.com/css?family=Handlee' rel='stylesheet' type='text/css'>
</head>
<body>
	<div class="all-wrapper">
	    <div class="log">
	    	<a href="/"><div id="logo">Ukhti</div></a>
	    	<div id="log">
	    		<ul>
	    			<div><li><a href="{{route('about')}}">About</a></li></div>
	    			<div><li><a href="{{route('signUp')}}">Sign Up</a></li></div>
	    			<div><li><a href="{{route('signIn')}}">Sign In</a></li></div>
	    		</ul>
	    	</div>
	    </div>
	    <div id="wrapper">
	    	<form enctype="multipart/form-data" method="POST" action="">
	    		<input type="text" name="judulToko" placeholder="Judul" class="insertToko"></input>
	    		<input type="text" name="photoToko" placeholder="Photo" class="edit-photo"></input>
				<input type="file" name="brows-toko" value="Brows" class="brows-toko"></input>
	    		<input type="text" name="harga" placeholder="Harga" class="insertToko"></input>
	    		<input type="text" name="jb" placeholder="Jenis Barang" class="insertToko"></input>
	    	</form>
	    	<div class="insert-ket-toko">Keterangan Barang:</div>
	    	<textarea class="text-area"></textarea>
			<input type="submit" name="edit" value="Edit" class="edit"></input>
			<input type="submit" name="simpan" value="Simpat" class="simpan"></input>
			<input type="submit" name="publish" value="Publish" class="publish"></input>
	    </div>
	</div>
</div>
</body>
</html>