{% extends 'layout' %}
{% block isi %}
		<div id="bar">
			<div class="search">
				<form>
					<input type="text" name="input-search" placeholder="Search" class="text"></input>
					<input type="submit" name="search" value="" class="submit"></input>
				</form>
			</div>
			<div class="_breadcrumb">
				<!-- another version - flat style with animated hover effect -->
				<div class="breadcrumb flat">
					<a href="'/homeAdmin'">Home</a>
					<a href="{{route('haditsAdmin')}}"></a>
					<a href="#" class="active">Hadits</a>
				</div>
			</div>
		</div>
		<div id="wrapper">
			<div class="wrap">
				<div class="content">
					<div id="artikel">
						<div class="judul-artikel">
							HR. Muslim no. 1467
						</div>
						<div class="out-artikel">
							Abdullah bin Amr radhiyallahu'anhuma meriwayatkan sabda Rasulullah Shalallahu'alaihi wa sallam : "Sesungguhnya dunia itu adalah perhiasan dan sebaik-baik perhiasan dunia adalah wanita shalihah."
						</div>
					</div>
					<div id="artikel">
						<div class="judul-artikel">
							HR. Al-Bukhari no. 5090 dan Muslim no. 1466
						</div>
						<div class="out-artikel">
							Rasulullah Shalallahu'alaihi wa sallam bersabda bagi lelaki yang ingin menikah : "Wanita itu dinikahi karena empat perkara yaitu karena hartanya, karena keturunannya, karena kecantikannya, dan karena agamanya. Maka pilihlah olehmu wanita yang punya agama, engkau akan beruntung."
						</div>
					</div>
					<div id="artikel">
						<div class="judul-artikel">
							HR. Bukhari dan Muslim
						</div>
						<div class="out-artikel">
							Al Bukhari meriwayatkan dari Abu Hurairah radhiyallahu'anhu dari Nabi Shallallhu'alaihi wa sallam, beliau bersabda, yang artinya :
							Barangsiapa yang beriman kepada Allah dan hari Akhir, janganlah ia mengganggu tetangganya, dan berbuat baiklah kepada wanita. Sebab, mereka diciptakan dari tulang rusuk, dan tulang rusuk yang paling bengkok adalah bagian atasnya. Jika engkau meluruskannya, maka engkau mematahkannya dan jika engkau biarkan, maka akan tetap bengkok. Oleh karena itu, berbuatlah baik kepada wanita."
						</div>
					</div>
					<div id="artikel">
						<div class="judul-artikel">
							HR. Ahmad 1/191, dishahihkan Asy-Syaikh Al Albani rahimahullah dalam Shahihul Jami' no. 660, 661
						</div>
						<div class="out-artikel">
							Rasulullah Shalallahu'alaihi wa sallam bersabda : "Apabila seorang wanita shalat lima waktu, puasa sebulan (Ramadhan), menjaga kemaluannya dan taat kepada suaminya, maka dikatakan kepadanya : Masuklah engkau ke dalam surga dari pintu mana saja yang engkau sukai."
						</div>
					</div>
					<div id="artikel">
						<div class="judul-artikel">
							HR. An-Nasaii ibnu Khuzaimah dan ibnu Hibban
						</div>
						<div class="out-artikel">
							Rasulullah shalallahu'alaihi wa sallam bersabda : "Siapa saja wanita yang memakai wangi-wangian kemudian melewati suatu kaum supaya mereka itu mencium baunya, maka wanita itu telah dianggap melakukan zina dan tiap-tiap mata ada zina."
						</div>
					</div>
				</div>
				<div class="rightKet">
					<div id="arsip">
					 <div class="judul">Keterangan</div>
					 <div class="isi-ket"> Assalamualaikum Ukhti ^^ Laman ini berisi hadits shahih tentang wanita. Semoga bermanfaat^^</div>
					</div>
				</div>
				<div class="rightKet">
					<div id="arsip">
						<div class="judul">Arsip</div>
						<div class="isi-arsip">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						</div>
					</div>
				</div>
			</div>
		</div>
{% endblock %}